.container {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(130deg, #195bbd 33%, #2E8CE8 33%, #2E8CE8 66%, #54BEF4 66%);
}

.container .welcomeCard, .container .welcomeCard .loginForm {
    width: 40%;
}

.container .welcomeCard {
    margin: auto;
    padding: 20px;
    min-width: 300px;
    backdrop-filter: blur(5px);
    background: rgba(255 255 255 / 80%);
}

